@import "~bootstrap/dist/css/bootstrap.css";
img{
    width: 100%;
}
select{
    width : 25%
}
.product-image {      
    list-style-type: none;
    width: 290px;
    padding: 20px;
    margin: 6px 6px;        
    border: 1px solid #33B5E5;
  } 
  
  .product-container {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
  }

  img{
    width: 100%;
}
select{
    width: 25%;
}
.para{
    font-size: 15px;
    transform: translateY(-10px);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
    justify-content: center;
}
.grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 60%;
    height:auto;
    margin: 50px;

}